header {
  background: #121212;
  border-radius: 8px;
}

nav.openmenu {
  // display: none;
}

.header {
  &__bkg {
    min-height: 730px;
    background: #121212;
    background-image: url(../assets/images/Bitmap.png);
    background-repeat: no-repeat;
    background-position: right top;
  }
  &__space {
    padding: 32px 0 36px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  &__burger {
    display: none;
  }
  &__nav {
    ul {
      min-width: 549px;
      gap: 34px;
      justify-content: start;
    }

    a {
      font-weight: 700;
      font-size: 13px;
      line-height: 25px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #ffffff;
    }

    a:hover {
      color: #d87d4a;
      transition: all 0.5s ease-in-out;
    }
  }

  &__content {
    padding: 128px 0 158px;
    @include flex-c;
    align-items: flex-start;

    strong {
      @extend %strong;
      margin-bottom: 24px;
    }

    h1 {
      @extend %title;
      width: 396px;
    }

    p {
      @extend %text;
      width: 350px;
    }
  }
}
.openmenu_ul .openmenu_ul__item-2 .stuff__button,
.openmenu_ul .openmenu_ul__item-3 .stuff__button,
.openmenu_ul .openmenu_ul__item-4 .stuff__button {
  display: none;
}

.stuff {
  // min-height: 572px;
  padding-top: 200px;
  padding-bottom: 168px;

  &__item1 {
    @include stuff;
    @include flex-c;
  }

  &__item2 {
    @include stuff;
    @include flex-c;
  }

  &__item3 {
    @include stuff;
    @include flex-c;
  }

  &__imgtop {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
  }

  h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1.28571px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 116px;
    margin-bottom: 15px;
    text-align: center;
  }

  &__button {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
    background: none;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    padding: 0px 45px 0px;
  }

  &__arrow {
    margin-left: 13px;
  }

  &__button:hover {
    background: none;
    color: $orange;
  }
}

.zx9speaker {
  padding-bottom: 48px;

  &__bkg {
    min-height: 560px;
    background: $orange;
    border-radius: 8px;
    background-image: url(../assets/images/rings.png);
    background-repeat: no-repeat;
    justify-content: center;
    align-items: end;
    gap: 128px;
  }

  &__photo {
    width: 410px;
    height: 493px;
    background-image: url(../assets/images/zx9-speaker.png);
    background-repeat: no-repeat;
    background-position: bottom;
  }

  &__content {
    width: 359px;

    &-title {
      @extend %title;
    }

    &-text {
      @extend %text;
    }

    &-button {
      background: #000;
      margin-bottom: 124px;
    }

    &-button:hover {
      background: #4c4c4c;
    }
  }
}

.zx7speaker {
  &__bkg {
    border-radius: 8px;
    background-image: url(../assets/images/zx7-speaker.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 101px 0px 101px 107px;
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 32px;
  }

  &__button {
    color: #000;
    border: 1px solid #000;
    background: none;
  }

  &__button:hover {
    background-color: #000;
    color: #ffffff;
  }
}

.yx1earphones {
  padding-top: 48px;
  padding-bottom: 200px;

  &__photo {
    background-image: url(../assets/images/YX1-earphones.png);
    background-repeat: no-repeat;
    border-radius: 8px;
    width: 540px;
    height: 320px;
  }

  &__content {
    @include flex-c;
    justify-content: center;
    align-items: start;
    background: #f1f1f1;
    border-radius: 8px;
    max-width: 540px;
    max-height: 320px;
    padding: 101px 200px 101px 95px;
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 32px;
  }

  &__button {
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000;
    border: 1px solid #000;
    background: none;
  }

  &__button:hover {
    background-color: #000;
    color: #ffffff;
  }
}

.promo {
  padding-bottom: 200px;

  &__title {
    max-width: 445px;
    @extend %title_2;
    margin-bottom: 32px;
  }

  span {
    color: $orange;
  }

  &__text {
    @extend %text;
    color: $f-c-b05;
    max-width: 445px;
  }

  &__photo {
    width: 540px;
    height: 588px;
    background-image: url(../assets/images/man.png);
    background-repeat: no-repeat;
    border-radius: 8px;
  }
}

.footer_bkg {
  background-color: $bkg-header;
  min-height: 345px;
  padding-bottom: 48px;

  &__line {
    width: 101px;
    background-image: url(..//assets/images/line.png);
    background-repeat: no-repeat;
    padding-bottom: 75px;
    position: relative;
    transform: translate(-500%);
  }
}

.bottomheader {
  &__ul {
    ul {
      min-width: 549px;
      gap: 34px;
      justify-content: start;
    }

    a {
      font-weight: 700;
      font-size: 13px;
      line-height: 25px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #ffffff;
    }

    a:hover {
      color: #d87d4a;
      transition: all 0.5s ease-in-out;
    }
    width: 430px;
  }
}

.final {
  align-items: flex-end;
  margin-bottom: 56px;

  &__text {
    @extend %text;
    color: $f-c-w05;
    width: 540px;
    margin-top: 36px;
    margin-bottom: 0;
  }

  &__socialpage {
    width: 104px;

    &-fb {
      width: 24px;
      height: 24px;
      background-image: url(../assets/images/Facebook.png);
      background-repeat: no-repeat;
      transition: all 0.5s ease-in-out;
    }

    &-fb:hover {
      background-image: url(..//assets/images/FacebookHover.png);
      background-repeat: no-repeat;
    }

    &-tw {
      width: 24px;
      height: 24px;
      background-image: url(../assets/images/Twitter.png);
      background-repeat: no-repeat;
      transition: all 0.5s ease-in-out;
    }

    &-tw:hover {
      background-image: url(..//assets/images/TwitterHover.png);
      background-repeat: no-repeat;
    }

    &-insta {
      width: 24px;
      height: 24px;
      background-image: url(../assets/images/insta.png);
      background-repeat: no-repeat;
      transition: all 0.5s ease-in-out;
    }

    &-insta:hover {
      background-image: url(..//assets/images/instaHover.png);
      background-repeat: no-repeat;
    }
  }
}

.copyright {
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: $f-c-w05;
}

// PAGE 2 початок стилів Category-headphones-1

.header2 {
  background: #121212;
  border-radius: 0px;
  height: 336px;

  h1 {
    @extend %title_2;
    color: #ffffff;
    text-align: center;
    padding-top: 98px;
    padding-bottom: 97px;
  }
}

.XX99markII {
  padding-top: 160px;
  padding-bottom: 160px;

  &__photo {
    @extend %product_bkg;
    background-image: url(../assets/images/XX99MARK_II.png);
  }

  &__content {
    @include flex-c;
    align-items: start;
    gap: 16px;
    max-width: 445px;

    &-title {
      @extend %title_2;
      margin-bottom: 16px;
    }

    &-strong {
      @extend %strong;
      color: $orange;
    }

    &-text {
      @extend %text;
      color: $f-c-b05;
      margin-bottom: 24px;
    }
  }
}

.XX99markI {
  padding-bottom: 160px;

  &__photo {
    @extend %product_bkg;
    background-image: url(../assets/images/XX99MARK_I.png);
  }

  &__content {
    width: 445px;

    &-text {
      @extend %text;
      color: $f-c-b05;
      margin-bottom: 40px;
    }

    &-title {
      @extend %title_2;
      margin-bottom: 32px;
    }
  }
}

.XX59 {
  &__photo {
    @extend %product_bkg;
    background-image: url(../assets/images/XX59.png);
  }

  &__content {
    width: 445px;

    &-title {
      @extend %title_2;
      margin-bottom: 32px;
      width: 300px;
    }

    &-text {
      @extend %text;
      color: $f-c-b05;
      margin-bottom: 40px;
    }
  }
}

.stuff2 {
  padding-top: 160px;
  padding-bottom: 160px;
}

.promo2 {
  padding-bottom: 160px;
}

// PAGE 3 початок стилів Category-Speakers

.zx9speaker3 {
  padding-top: 160px;
  padding-bottom: 160px;
  align-items: center;
  gap: 125px;

  &__photo {
    @extend %product_bkg;
    background-image: url(..//assets/images/zx9-speaker_3.png);
    background-position: 88px 100px;
  }

  &__content {
    height: 560px;
    min-width: 445px;
    @include flex-c;
    gap: 16px;
    align-items: start;
    justify-content: center;

    &-strong {
      @extend %strong;
      color: $orange;
    }

    &-title {
      @extend %title_2;
      margin-bottom: 16px;
      width: 200px;
    }

    &-text {
      @extend %text;
      color: $f-c-b05;
      margin-bottom: 24px;
      width: 445px;
    }
  }
}

.zx7speaker3 {
  padding-bottom: 80px;
  justify-content: center;
  gap: 125px;

  &__content {
    padding-top: 44px;
    max-height: 560px;

    &-title {
      @extend %title_2;
      width: 200px;
      margin-bottom: 32px;
    }

    &-text {
      @extend %text;
      color: $f-c-b05;
      width: 445px;
      margin-bottom: 40px;
    }
  }

  &__photo {
    @extend %product_bkg;
    background-image: url(../assets/images/zx7speaker.png);
    background-position: 98px 86px;
  }
}

// PAGE 4 початок стилів Category-Earphones

.YX1Wireless {
  padding-top: 160px;
  padding-bottom: 80px;
  align-items: center;
  gap: 125px;

  &__photo {
    @extend %product_bkg;
    background-image: url(../assets/images/yx1wireless.png);
  }

  &__content {
    height: 560px;
    max-width: 445px;
    @include flex-c;
    gap: 16px;
    align-items: start;
    justify-content: center;

    &-strong {
      @extend %strong;
      color: $orange;
    }

    &-title {
      @extend %title_2;
      margin-bottom: 16px;
      width: 445px;
    }

    &-text {
      @extend %text;
      color: $f-c-b05;
      margin-bottom: 24px;
      width: 445 px;
    }
  }
}

// PAGE 5 початок стилів Detail-1-Headphones
.header_detail {
  background: #121212;
  border-radius: 0px;
}

.XX99markII_detail {
  padding-top: 56px;
  gap: 125px;

  &__text {
    @extend %text;
    margin-bottom: 16px;
  }
  &__content {
    width: 445px;
    @include flex-c;
    align-items: start;
    gap: 16px;
    max-width: 445px;
    padding-top: 77px;
    padding-bottom: 77px;
  }
  &__price {
    @extend %price;
  }
  &__buy {
    gap: 16px;
  }
  .quantity {
    @extend %quantity;
  }
}
.aboutproduct {
  width: 1110px;
 justify-content: start;
 align-items: start;
  gap: 125px;
  &__future {
    h3{
      width: 200px
    }
    &-text,
    &-text2 {

      @extend %text;
      color: $f-c-b05;
      margin-bottom: 30px;
      max-width: 700px;
    }
    &-text2 {
      margin-bottom: 0;
    }
  }

  &__inbox {
    @extend %text;
    min-width: 200 px;
  }

  &__item {
    color: $f-c-b05;
    margin-bottom: 8px;
  }

  &__sp {
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: $orange;
    margin-right: 24px;
  }
}
.photos {
  padding-top: 160px;
  padding-bottom: 160px;

  &__wrsmall {
    max-height: 592px;
    @include flex-c;
    gap: 32px;
  }
  &__1small {
    width: 445px;
    height: 280px;
    background-image: url(../assets/images/detail/man_small_detail.png);
    background-repeat: no-repeat;
    border-radius: 8px;
  }
  &__2small {
    background-image: url(../assets/images/detail/headhones_detail_small.png);
    background-repeat: no-repeat;
    width: 445px;
    height: 280px;
    border-radius: 8px;
  }
  &__big {
    width: 635px;
    height: 592px;
    background-image: url(../assets/images/detail/headphones_details_big.png);
    border-radius: 8px;
  }
}
.more_products {
  padding-bottom: 80px;
  &__title {
    margin-bottom: 64px;
    text-align: center;
  }
  &__itemwrapp {
    @include flex-c;
    align-items: center;
  }

  &__item1 {
    &-1 {
      @extend %product_detail_bkg;
      background-image: url(../assets/images/detail/detail_xx99mark-I.png);
    }

    &-2 {
      @extend %product_detail_bkg;
      background-image: url(../assets/images/detail/detail_xx59.png);
    }

    &-3 {
      @extend %product_detail_bkg;
      background-image: url(../assets/images/detail/detail_zx9speaker_new.png);
    }
  }

  &__names {
    @extend %h4names;
  }
}
// PAGE 6 початок стилів Detail-2-Headphones
.back {
  padding-bottom: 56px;
}

.XX99markI_detail {
  padding-bottom: 160px;
  &__detail2photo {
    @extend %product_bkg;
    background-image: url(..//assets/images/XX99MARK_I.png);
    background-repeat: no-repeat;
  }

  &__content {
    width: 445px;
    @include flex-c;
    align-items: start;
    gap: 16px;
    max-width: 445px;
    padding-top: 77px;
    padding-bottom: 77px;

    &-title {
      @extend %title_2;
    }
    &-text {
      @extend %textblack;
      margin-bottom: 16px;
    }
  }
}

.XX99markI_detail {
  &__price {
    @extend %price;
  }

  &__buy {
    gap: 16px;
  }
}
.quantity {
  @extend %quantity;
}

.photos {
  padding-top: 160px;
  padding-bottom: 160px;
  &__wrsmall {
    max-height: 592px;
    @include flex-c;
    gap: 32px;
  }

  &__1smalldetail_2headphones {
    width: 445px;
    height: 280px;
    background-image: url(../assets/images/detail/photo_small_detailheadphones-1.png);
    background-repeat: no-repeat;
    border-radius: 8px;
  }
  &__2smalldetail_2headphones {
    background-image: url(../assets/images/detail/photo_small_detailheadphones-2.png);
    background-repeat: no-repeat;
    width: 445px;
    height: 280px;
    border-radius: 8px;
  }
  &__bigdetail_2headphones {
    width: 635px;
    height: 592px;
    background-image: url(..//assets/images/detail/photo_big_detailheadphones.png);
    border-radius: 8px;
  }
}
.more_products {
  &__item2 {
    &-1 {
      @extend %product_detail_bkg;
      background-image: url(../assets/images/detail/detail_xx99mark-II.png);
    }

    &-2 {
      @extend %product_detail_bkg;
      background-image: url(../assets/images/detail/detail_xx59.png);
    }

    &-3 {
      @extend %product_detail_bkg;
      background-image: url(../assets/images/detail/detail_zx9speaker_new.png);
    }
  }
}
// PAGE 7 початок стилів Detail-3-Headphones

.XX59_detail3 {
  padding-bottom: 160px;
  &__photo {
    @extend %product_bkg;
    background-image: url(..//assets/images/XX59.png);
  }
  &__content {
    width: 445px;
    @include flex-c;
    align-items: start;
    gap: 16px;
    max-width: 445px;
    padding-top: 77px;
    padding-bottom: 77px;

    &-title {
      @extend %title_2;
      width: 330px;
    }
    &-text {
      @extend %textblack;
      margin-bottom: 16px;
    }
  }
  &__price {
    @extend %price;
  }
  &__buy {
    gap: 16px;
  }
}

.XX59_detail_photos {
  padding-bottom: 160px;
  padding-top: 160px;
  &__small1 {
    width: 445px;
    height: 280px;
    background-image: url(../assets/images/detail/headhones_detail_small3-1.png);
    background-repeat: no-repeat;
    border-radius: 8px;
  }
  &__small2 {
    background-image: url(../assets/images/detail/headhones_detail_small3-2.png);
    background-repeat: no-repeat;
    width: 445px;
    height: 280px;
    border-radius: 8px;
  }
  &__big {
    width: 635px;
    height: 592px;
    background-image: url(..//assets/images/detail/headphones_details_big3.png);
    border-radius: 8px;
  }
}
.more_products3 {
  padding-bottom: 80px;
  &__title {
    margin-bottom: 64px;
    text-align: center;
  }
  &__itemwrapp {
    @include flex-c;
    align-items: center;
  }
  &__item3 {
    &-1,
    &-2,
    &-3 {
      @extend %product_detail_bkg;
    }
    &-1 {
      background-image: url(../assets/images/detail/detail_xx99mark-II.png);
    }

    &-2 {
      background-image: url(../assets/images/detail/detail_xx99mark-I.png);
    }

    &-3 {
      background-image: url(../assets/images/detail/detail_zx9speaker_new.png);
    }
  }
  &__names {
    @extend %h4names;
  }
}

//PAGE 8  Product Detail - Speakers-1
.zx9speaker_detail_1 {
  padding-top: 56px;
  padding-bottom: 160px;
  gap: 125px;

  &__photo {
    @extend %product_bkg;
    background-image: url(..//assets/images/detail/detail_zx9speaker.png);
  }

  &__content {
    width: 445px;
    @include flex-c;
    align-items: start;
    gap: 16px;
    max-width: 445px;
    padding-top: 77px;
    padding-bottom: 77px;

    &-strong {
      @extend %strong;
      color: $orange;
    }

    &-title {
      @extend %title_2;
      margin-bottom: 16px;
    }

    &-text {
      @extend %textblack;
      margin-bottom: 16px;
    }
  }

  &__price {
    @extend %price;
  }

  &__buy {
    gap: 16px;
  }
}
.photozx9speaker_photos {
  padding-top: 160px;
  padding-bottom: 160px;

  &__wrsmall {
    flex-direction: column;
    gap: 32px;
  }

  &__1small {
    width: 445px;
    height: 280px;
    background-image: url(../assets/images/detail/speakers_detail_1small-1.png);
    background-repeat: no-repeat;
    border-radius: 8px;
  }

  &__2small {
    background-image: url(../assets/images/detail/speakers_detail_2small-1.png);
    background-repeat: no-repeat;
    width: 445px;
    height: 280px;
    border-radius: 8px;
  }

  &__big {
    width: 635px;
    height: 592px;
    background-image: url(..//assets/images/detail/speakers_detail_big-1.png);
    border-radius: 8px;
  }
}
.zx9speaker_moreproducts {
  padding-bottom: 80x;

  &__title {
    text-align: center;
    margin-bottom: 64px;
  }

  &__wrapp {
    align-items: center;
  }

  &__itemwrapp {
    @include flex-c;
    align-items: center;
  }

  &__item1 {
    @extend %product_detail_bkg;
    background-image: url(../assets/images/detail/detail_xx99mark-II.png);
  }

  &__names {
    @extend %h4names;
  }

  &__item2 {
    @extend %product_detail_bkg;
    background-image: url(../assets/images/detail/detail_xx59.png);
  }

  &__item3 {
    @extend %product_detail_bkg;
    background-image: url(../assets/images/detail/detail_zx9speaker_new.png);
  }
}

.more_products_speakers1 {
  &__itemwrapp {
    @include flex-c;
    align-items: center;
  }

  &__item {
    &-1 {
      @extend %product_detail_bkg;
      background-image: url(../assets/images/detail/detail_zx7speaker_new.png);
    }

    &-2 {
      @extend %product_detail_bkg;
      background-image: url(../assets/images/detail/detail_xx99mark-I.png);
    }

    &-3 {
      @extend %product_detail_bkg;
      background-image: url(../assets/images/detail/detail_xx59.png);
    }
  }
  &__names {
    @extend %h4names;
  }
}

//PAGE 9  Product Detail - Speakers-2
.zx7speaker_detail2 {
  padding-bottom: 160px;
  &__photo {
    @extend %product_bkg;
    background-image: url(..//assets/images/detail/detail_zx7speaker.png);
  }

  &__content {
    width: 445px;
    @include flex-c;
    align-items: start;
    gap: 16px;
    max-width: 445px;
    padding-top: 77px;
    padding-bottom: 77px;

    &-title {
      @extend %title_2;
      width: 150px;
    }

    &-text {
      @extend %textblack;
      margin-bottom: 16px;
    }
  }

  &__price {
    @extend %price;
  }

  &__buy {
    gap: 16px;
  }
}
.photozx7speaker_detail2 {
  gap: 30px;
  padding-top: 160px;
  padding-bottom: 160px;

  &__wrsmall {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__1small {
    width: 445px;
    height: 280px;
    background-image: url(../assets/images/detail/speakers_detail_small1-1.png);
    background-repeat: no-repeat;
  }

  &__2small {
    background-image: url(../assets/images/detail/speakers_detail_small2-1.png);
    background-repeat: no-repeat;
    width: 445px;
    height: 280px;
  }

  &__big {
    width: 635px;
    height: 592px;
    background-image: url(..//assets/images/detail/speakers_detail_big-2.png);
  }
}
.photozx7speaker_moreproducts {
  padding-bottom: 80px;
  &__title {
    text-align: center;
    margin-bottom: 64px;
  }

  &__wrapp {
  }

  &__itemwrapp {
    @include flex-c;
    align-items: center;
  }

  &__1item {
    @extend %product_detail_bkg;
    background-image: url(../assets/images/detail/detail_zx9speaker_new.png);
  }

  &__names {
    @extend %h4names;
  }

  &__2item {
    @extend %product_detail_bkg;
    background-image: url(../assets/images/detail/detail_xx99mark-I.png);
  }

  &__3item {
    @extend %product_detail_bkg;
    background-image: url(../assets/images/detail/detail_xx59.png);
  }
}

//PAGE 10  Product Detail - Earphones
.yx1wirreless_detail {
  padding-bottom: 160px;
  &__photo {
    @extend %product_bkg;
    background-image: url(..//assets/images/detail/detail_earphones_YX1wireless.png);
  }

  &__content {
    width: 445px;
    @include flex-c;
    align-items: start;
    gap: 16px;
    max-width: 445px;
    padding-top: 77px;
    padding-bottom: 77px;
    &-strong {
    }
    &-strong {
      @extend %strong;
      color: $orange;
    }
    &-title {
      @extend %title_2;
    }

    &-text {
      @extend %textblack;
      margin-bottom: 16px;
    }
  }

  &__price {
    @extend %price;
  }

  &__buy {
    gap: 16px;
  }
}

.photosyx1wirreless {
  padding-top: 160px;
  padding-bottom: 160px;
  &__wrsmall {
    gap: 32px;
    display: flex;
    flex-direction: column;
  }

  &__1small {
    width: 445px;
    height: 280px;
    background-image: url(../assets/images/detail/earphones_detail_small-1.png);
  }

  &__2small {
    background-image: url(../assets/images/detail/earphones_detail_small-2.png);
    width: 445px;
    height: 280px;
  }

  &__big {
    width: 635px;
    height: 592px;
    background-image: url(..//assets/images/detail/earphones_detail_big.png);
  }
}
.yx1wirreless_moreproducts {
  padding-bottom: 80px;
  &__title {
    text-align: center;
    margin-bottom: 64px;
  }

  &__wrapp {
  }

  &__itemwrapp {
    @include flex-c;
    align-items: center;
  }

  &__1item {
    @extend %product_detail_bkg;
    background-image: url(../assets/images/detail/detail_xx99mark-I.png);
  }

  &__names {
    @extend %h4names;
  }

  &__2item {
    @extend %product_detail_bkg;
    background-image: url(../assets/images/detail/detail_xx59.png);
  }

  &__3item {
    @extend %product_detail_bkg;
    background-image: url(../assets/images/detail/Also_detail_zx9speaker.png);
  }
}
