@media (max-width: 376px) {
  header {
    position: relative;
  }

  .container {
    min-width: 337px;
  }
  .openmenu_ul .openmenu_ul__item-2 .stuff__button,
  .openmenu_ul .openmenu_ul__item-3 .stuff__button,
  .openmenu_ul .openmenu_ul__item-4 .stuff__button {
    display: block;
  }
  .header {
    &__bkg {
      background-image: url(../assets/images/adapt375/PtotoMain.png);
      background-repeat: no-repeat;
      min-height: 375px;
    }
    &__burger {
      padding-bottom: 10px;
    }
    &__brmenu {
      width: 16px;
      height: 9px;
      border: 3px solid #fff;
      border-width: 3px 0;
      position: relative;
    }
    &__brmenu::after {
      content: "";
      width: 16px;
      height: 3px;
      border: 3px solid #fff;
      border-width: 3px 0 0;
      position: absolute;
      top: -10px;
      left: 0;
    }
    &__logo {
      text-align: center;
      width: 145px;
    }

    &__content {
      text-align: center;
      padding-top: 108px;
      padding-bottom: 112px;
    }
    &__space {
      width: 327px;
      padding-bottom: 32px;
      justify-content: space-between;
    }
    &__cart {
      margin-left: 0px;
    }
  }
  // ТУТ МОЖНА ПОБАЧИТИ АДАПТИВНЕ МЕНЮ
  header .openmenu {
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 96px;
    width: 100%;
    height: 100vh;
  }

  header .openmenu_ul {
    min-width: 327px;
    min-height: 750px;
    flex-direction: column;
    gap: 68px;
    padding-top: 80px;
    &__item {
      &-2,
      &-3,
      &-4 {
        display: flex;
        flex-direction: column;
        background: #f1f1f1;
        border-radius: 8px;
        position: relative;
        width: 327px;
        height: 165px;
        text-align: center;
      }
    }
    .openmenu__picture1 {
      margin-left: 73px;
    }
    .openmenu__picture2 {
      margin-left: 73px;
    }
    .openmenu__picture3 {
      margin-left: 75px;
    }
  }

  .header__content .header__text375 {
    width: 328px;
  }
  .header__content .title {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 1.28571px;
  }
  .header__content .header_strong {
    margin-bottom: 16px;
  }

  .stuff {
    flex-direction: column;
    gap: 68px;
    padding-top: 92px;
    padding-bottom: 120px;

    &__item1,
    &__item2,
    &__item3 {
      justify-content: start;
      width: 327px;
      min-height: 165px;
    }
  }
  .zx9speaker {
    height: 600px;
    padding-bottom: 24px;
    max-width: 327px;

    &__bkg {
      min-height: 327px;
      background-image: url(../assets/images/adapt375/rings_375.png);
      background-position: top;
      gap: 32px;
      padding: 55px;
    }

    &__photo {
      background-image: url(../assets/images/adapt375/zx9_Page1_375.png);
      background-position: cover;
      height: 207px;
    }

    &__content {
      gap: 24px;
      &-title {
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 1.28571px;
        width: 150px;
        margin-bottom: 0;
      }

      &-text {
        width: 280px;
        margin-bottom: 0;
      }
      &-button {
        margin-bottom: 0;
      }
    }
  }
  .zx7speaker {
    padding-top: 24px;

    &__bkg {
      padding: 101px 101px 181px 24px;
      background-image: url(../assets/images/adapt375/zx7_Page1_375.png);
      height: 320px;
    }
    &__title {
      width: 220px;
    }
  }
  .yx1earphones {
    padding-bottom: 120px;
    flex-direction: column;
    gap: 24px;
    width: 327px;

    &__photo {
      background-image: url(../assets/images/adapt375/yx1_Page1_375.png);
      width: 327px;
      height: 200px;
    }

    &__content {
      border-radius: 8px;
      width: 327px;
      height: 200px;
    }
  }
  .promo {
    align-items: center;
    gap: 40px;

    &__title {
      width: 327px;
      font-size: 28px;
      line-height: 38px;
      letter-spacing: 1px;
    }

    &__text {
      width: 327px;
    }

    &__photo {
      width: 327px;
      height: 300px;
      background-image: url(../assets/images/adapt375/man_Page1_375.png);
    }
  }
  .footer_bkg {
    height: 654px;
    &__line {
      transform: translate(35%);
    }
  }

  .footer_bkg .bottomheader {
    gap: 48px;
    align-items: center;

    &__ul {
      width: 327px;
      flex-direction: column;
      gap: 16px;
      margin-bottom: 48px;
    }
  }

  .footer_bkg .final {
    gap: 121px;
    align-items: center;
    &__text {
      width: 327px;
      text-align: center;
      margin-top: 0;
    }
  }
  .footer_bkg .copyright {
    transform: translate(10%, -400%);
  }
  // category-headphones

  .header2 {
    height: 192px;

    h1 {
      font-size: 28px;
      line-height: 38px;
      letter-spacing: 2px;
      padding-top: 32px;
      padding-bottom: 32px;
      text-align: center;
    }
  }
  .XX99markII {
    padding-top: 64px;
    padding-bottom: 120px;
    gap: 32px;

    &__photo {
      width: 327px;
      height: 352px;
    }

    &__content {
      width: 327px;
      height: 340px;
      padding-top: 0;
      gap: 24px;

      &-title {
        font-size: 28px;
        line-height: 38px;
        letter-spacing: 1px;
        margin-bottom: 0;
      }

      &-text {
        width: 327px;
        margin-bottom: 0;
      }
    }
  }

  .XX99markI {
    padding-bottom: 120px;
    gap: 32px;

    &__content {
      width: 327px;
      padding-top: 0;
      gap: 24px;

      &-title {
        font-size: 28px;
        line-height: 38px;
        letter-spacing: 1px;
        margin-bottom: 0;
      }

      &-text {
        width: 327px;
        margin-bottom: 0;
      }
    }

    &__photo {
      width: 327px;
      height: 352px;
    }
  }
  .XX59 {
    padding-bottom: 80px;
    gap: 32px;

    &__photo {
      width: 327px;
      height: 352px;
    }

    &__content {
      padding-top: 0;
      gap: 32px;
      &-title {
        font-size: 28px;
        line-height: 38px;
        letter-spacing: 1px;
        margin-bottom: 0;
        width: 200px;
      }

      &-text {
        width: 327px;
        margin-bottom: 0;
      }
    }
  }

  // category-speakers

  .zx9speaker3 {
    gap: 32px;
    &__photo {
      width: 327px;
      height: 352px;
    }

    &__content {
      padding-top: 0;
      gap: 24px;

      &-title {
        font-size: 28px;
        line-height: 38px;
        letter-spacing: 1px;
        margin-bottom: 0;
        width: 150px;
      }

      &-text {
        width: 327px;
        margin-bottom: 0;
      }
    }
  }
  .zx7speaker3 {
    gap: 32px;
    padding-bottom: 80px;
    &__content {
      padding-top: 0;
      gap: 24px;

      &-title {
        font-size: 28px;
        line-height: 38px;
        letter-spacing: 1px;
        margin-bottom: 0;
        width: 150px;
      }

      &-text {
        width: 327px;
        margin-bottom: 0;
      }
    }

    &__photo {
      width: 327px;
      height: 352px;
    }
  }

  // category-earphones
  .YX1Wireless {
    padding-top: 64px;
    padding-bottom: 80px;
    gap: 32px;

    &__photo {
      width: 327px;
      height: 352px;
    }

    &__content {
      width: 327px;
      padding-top: 0;
      gap: 24px;

      &-title {
        font-size: 28px;
        line-height: 38px;
        letter-spacing: 1px;
        margin-bottom: 0;
        width: 327px;
      }

      &-text {
        width: 327px;
        margin-bottom: 0;
      }
    }
  }

  // detail_headphones-1

  .XX99markII_detail {
    flex-direction: column;
    gap: 32px;
    padding-bottom: 88px;
    padding-top: 0;

    &__photo {
      width: 327px;
      height: 327px;
      background-image: url(../assets/images/adapt375/xx99Mark_II_detail_main.png);
    }

    &__content {
      gap: 24px;
      padding-bottom: 0;

      &-title {
        font-size: 28px;
        line-height: 38px;
      }
    }
  }

  .aboutproduct {
    flex-direction: column;
    gap: 88px;

    h3 {
      font-size: 24px;
      line-height: 36px;
      width: 327px;
    }
    h3 &__future {
      &-text,
      &-text2 {
        width: 327px;
      }
    }

    &__inbox {
      flex-direction: column;
      width: 327px;
    }
  }
  .aboutproduct .aboutproduct__inbox {
    flex-direction: column;
    align-items: start;
    width: 327px;
  }
  .aboutproduct__inbox h3 {
    margin-bottom: 24px;
  }
  .photos {
    flex-direction: column;
    padding-bottom: 120px;

    &__1small {
      background-image: url(../assets/images/adapt375/1SmallDetailHead-1.png);
      width: 327px;
    }

    &__2small {
      background-image: url(../assets/images/adapt375/2SmallDetailHead-1.png);
      width: 327px;
    }

    &__big {
      background-image: url(../assets/images/adapt375/BigDetailHead-1.png);
      width: 327px;
    }
  }
  .more_products {
    &__title {
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0.857143px;
    }
  }
  .more_products {
    padding-bottom: 24px;
    &__wrapp {
      flex-direction: column;
    }

    &__itemwrapp {
      gap: 32px;
      margin-bottom: 56px;
    }
    &__item1 {
      &-1,
      &-2,
      &-3 {
        width: 327px;
        height: 120px;
        margin-bottom: 0;
      }

      &-1 {
        background-image: url(../assets/images/adapt375/AlsoXX99Mark_I.png);
      }

      &-2 {
        background-image: url(../assets/images/adapt375/AlsoXX59.png);
      }

      &-3 {
        background-image: url(../assets/images/adapt375/Alsospeakerzx9.png);
      }
    }

    &__names {
      margin-bottom: 0;
    }
  }
  // detail-headphones-2

  .XX99markI_detail {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 88px;

    &__detail2photo {
      width: 327px;
      height: 327px;
    }

    &__content {
      gap: 24px;
      padding-bottom: 0;

      &-title {
        font-size: 28px;
        line-height: 38px;
        margin-bottom: 0;
      }

      &-text {
        margin-bottom: 0;
      }
    }

    &__price {
      margin-bottom: 7px;
    }
  }
  .photos {
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 120px;

    &__1smalldetail_2headphones {
      background-image: url(../assets/images/adapt375/1SmallDetailHead-2.png);
      width: 327px;
    }

    &__2smalldetail_2headphones {
      background-image: url(../assets/images/adapt375/2SmallDetailHead-2.png);
      width: 327px;
    }

    &__bigdetail_2headphones {
      background-image: url(../assets/images/adapt375/BigDetailHead-2.png);
      width: 327px;
    }
  }
  .more_products {
    &__item2 {
      &-1,
      &-2,
      &-3 {
        width: 327px;
        height: 120px;
        margin-bottom: 0;
      }
      &-1 {
        background-image: url(../assets/images/adapt375/AlsoXX99Mark_I.png);
      }

      &-2 {
        background-image: url(../assets/images/adapt375/AlsoXX59.png);
      }

      &-3 {
        background-image: url(../assets/images/adapt375/Alsospeakerzx9.png);
      }
    }
  }

  // detail-headphones-3
  .XX59_detail3 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 88px;

    &__photo {
      width: 327px;
      height: 327px;
    }

    &__content {
      gap: 24px;
      padding-bottom: 0;
      &-title {
        width: 150px;
        font-size: 28px;
        line-height: 38px;
        margin-bottom: 0;
      }

      &-text {
        margin-bottom: 0;
      }
    }
  }
  .XX59_detail_photos {
    flex-direction: column;
    padding-bottom: 120px;
    padding-top: 0;

    &__small1 {
      background-image: url(../assets/images/adapt375/1SmallDetailHead-3.png);
      width: 327px;
    }

    &__small2 {
      background-image: url(../assets/images/adapt375/2SmallDetailHead-3.png);
      width: 327px;
    }

    &__big {
      background-image: url(../assets/images/adapt375/BigDetailHead-3.png);
      width: 327px;
    }
  }

  .more_products3 {
    padding-bottom: 24px;
    &__title {
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0.857143px;
    }
    &__itemwrapp {
      gap: 32px;
      margin-bottom: 56px;
    }
    &__wrapp {
      flex-direction: column;
    }

    &__item3 {
      &-1,
      &-2,
      &-3 {
        width: 327px;
        height: 120px;
        margin-bottom: 0;
      }

      &-1 {
        background-image: url(../assets/images/adapt375/AlsoXX99Mark_II.png);
      }

      &-2 {
        background-image: url(../assets/images/adapt375/AlsoXX99Mark_I.png);
      }

      &-3 {
        background-image: url(../assets/images/adapt375/Alsospeakerzx9.png);
      }
    }
    &__names {
      margin-bottom: 0;
    }
  }
  // detail_speakers-1

  .zx9speaker_detail_1 {
    flex-direction: column;
    gap: 32px;
    padding-bottom: 88px;

    &__photo {
      width: 327px;
      height: 327px;
    }

    &__content {
      gap: 24px;
      padding-bottom: 0;

      &-title {
        font-size: 28px;
        line-height: 38px;
        margin-bottom: 0;
      }

      &-text {
        margin-bottom: 0;
      }
    }

    &__price {
      margin-bottom: 7px;
    }
  }

  .photozx9speaker_photos {
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 120px;
    gap: 20px;
    &__wrsmall {
      gap: 20px;
    }

    &__1small {
      background-image: url(../assets/images/adapt375/1SmallDetailSpeaker-1.png);
      width: 327px;
    }

    &__2small {
      background-image: url(../assets/images/adapt375/2SmallDetailSpeaker-1.png);
      width: 327px;
    }

    &__big {
      background-image: url(../assets/images/adapt375/BigDetailSpeaker-1.png);
      width: 327px;
    }
  }
  .zx9speaker_moreproducts {
    padding-bottom: 24px;
    &__title {
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0.857143px;
      margin-bottom: 40px;
    }

    &__wrapp {
      flex-direction: column;
    }

    &__itemwrapp {
      gap: 32px;
      margin-bottom: 56px;
    }

    &__item1,
    &__item2,
    &__item3 {
      width: 327px;
      height: 120px;
      margin-bottom: 0;
    }

    &__item1 {
      background-image: url(../assets/images/adapt375/Alsospeakerzx7.png);
    }

    &__names {
      margin-bottom: 0;
    }

    &__item2 {
      background-image: url(../assets/images/adapt375/AlsoXX99Mark_I.png);
    }

    &__item3 {
      background-image: url(../assets/images/adapt375/AlsoXX59.png);
    }
  }

  // detail-speakers-2
  .zx7speaker_detail2 {
    flex-direction: column;
    gap: 40px;
    padding-bottom: 88px;
    &__photo {
      width: 327px;
      height: 327px;
    }

    &__content {
      gap: 24px;
      padding-top: 0;
      padding-bottom: 0;

      &-title {
        font-size: 28px;
        line-height: 38px;
        margin-bottom: 0;
      }

      &-text {
        margin-bottom: 0;
      }
    }
    &__price {
      margin-bottom: 7px;
    }
  }
  .photozx7speaker_detail2 {
    flex-direction: column;
    padding-top: 0px;
    padding-bottom: 120px;
    gap: 20px;

    &__wrsmall {
      gap: 20px;
    }

    &__1small {
      background-image: url(../assets/images/adapt375/1SmallDetailSpeaker-2.png);
      width: 327px;
    }

    &__2small {
      background-image: url(../assets/images/adapt375/2SmallDetailSpeaker-2.png);
      width: 327px;
    }

    &__big {
      background-image: url(../assets/images/adapt375/BigDetailSpeaker-2.png);
      width: 327px;
    }
  }
  .photozx7speaker_moreproducts {
    padding-bottom: 24px;
    &__title {
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0.857143px;
      margin-bottom: 40px;
    }

    &__wrapp {
      flex-direction: column;
    }

    &__itemwrapp {
      gap: 32px;
      margin-bottom: 56px;
    }

    &__1item,
    &__2item,
    &__3item {
      width: 327px;
      height: 120px;
      margin-bottom: 0;
    }

    &__1item {
      background-image: url(../assets/images/adapt375/Alsospeakerzx7.png);
    }

    &__names {
      margin-bottom: 0;
    }

    &__2item {
      background-image: url(../assets/images/adapt375/AlsoXX99Mark_I.png);
    }

    &__3item {
      background-image: url(../assets/images/adapt375/AlsoXX59.png);
    }
  }
  // detail-earphones

  .yx1wirreless_detail {
    flex-direction: column;
    gap: 40px;
    padding-bottom: 88px;
    align-items: start;
    &__photo {
      width: 327px;
      height: 327px;
    }

    &__content {
      gap: 24px;
      padding-top: 0;
      padding-bottom: 0;

      &-title {
        font-size: 28px;
        line-height: 38px;
        margin-bottom: 0;
      }

      &-text {
        margin-bottom: 0;
      }
    }

    &__price {
      margin-bottom: 7px;
    }
  }

  .aboutproduct {
    flex-direction: column;
    align-items: start;
    padding-bottom: 88px;
    width: 327px;
    gap: 88px;
    &__inbox {
      gap: 0;
    }
  }
  .photosyx1wirreless {
    flex-direction: column;
    padding-top: 0px;
    padding-bottom: 120px;
    gap: 20px;

    &__wrsmall {
      gap: 20px;
    }

    &__1small {
      background-image: url(../assets/images/adapt375/1SmallDetailearphones.png);
      width: 327px;
    }

    &__2small {
      background-image: url(../assets/images/adapt375/2SmallDetailearphones.png);
      width: 327px;
    }

    &__big {
      background-image: url(../assets/images/adapt375/BigDetailearphones.png);
      width: 327px;
    }
  }
  .yx1wirreless_moreproducts {
    padding-bottom: 24px;
    &__title {
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0.857143px;
      margin-bottom: 40px;
    }

    &__wrapp {
      flex-direction: column;
    }

    &__itemwrapp {
      gap: 32px;
      margin-bottom: 56px;
    }
    &__1item,
    &__2item,
    &__3item {
      width: 327px;
      height: 120px;
      margin-bottom: 0;
    }
    &__1item {
      background-image: url(../assets/images/adapt375/AlsoXX99Mark_I.png);
    }

    &__names {
      margin-bottom: 0;
    }

    &__2item {
      background-image: url(../assets/images/adapt375/AlsoXX59.png);
    }

    &__3item {
      background-image: url(../assets/images/adapt375/Alsospeakerzx9.png);
    }
  }

  // стилі для cart

  .overlay {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 100;
    display: block;
    // display: none;
  }

  .modal {
    display: block;
    // display: none;
    position: absolute;
    top: 75%;
    left: 48%;
    transform: translate(-50%, -50%);

    &__wrapper {
      width: 327px;
      min-height: 488px;
      background-color: #ffffff;
      padding: 31px 28px;
      border-radius: 8px;
      flex-direction: column;
    }

    &__top {
      margin-bottom: 31px;
    }

    &__pdct_count {
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 1.28571px;
      text-transform: uppercase;
      color: #000;
    }

    &__btn_reset {
      font-weight: 500;
      font-size: 15px;
      line-height: 25px;
      text-decoration-line: underline;
      color: $f-c-b05;
      transition: all 0.5s ease-in-out;
    }
    &__btn_reset:hover {
      color: $orange;
    }
    &__item-1,
    &__item-2,
    &__item-3 {
      justify-content: flex-start;
      margin-bottom: 24px;
    }

    &__photo {
      &-1 {
        width: 64px;
        height: 64px;
        background-color: $bkg-section;
        background-image: url(../assets/images/detail/cart_mini/xx99mk2_cart.png);
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 8px;
        margin-right: 16px;
      }
      &-2 {
        width: 64px;
        height: 64px;
        background-color: $bkg-section;
        background-image: url(../assets/images/detail/cart_mini/xx59_cart.png);
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 8px;
        margin-right: 16px;
      }
      &-3 {
        width: 64px;
        height: 64px;
        background-color: $bkg-section;
        background-image: url(../assets/images/detail/cart_mini/ux1_cart.png);
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 8px;
        margin-right: 16px;
      }
    }

    &__wr_nameprise {
      width: 153px;
    }

    &__name {
      font-weight: 700;
      font-size: 15px;
      line-height: 25px;
      color: #000;
    }

    &__price {
      font-weight: 700;
      font-size: 14px;
      line-height: 25px;
      color: $f-c-b05;
    }

    &__cart__button {
      width: 271px;
    }
  }

  .quantity.quantity_cart {
    @extend %quantity;
    min-width: 96px;
    height: 32px;
    gap: 15px;
  }

  .total {
    &__title {
      font-weight: 500;
      font-size: 15px;
      line-height: 25px;
      color: $f-c-b05;
      text-transform: uppercase;
    }

    &__sum {
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
      text-transform: uppercase;
      color: #000;
    }
  }
  // стилі для checkout

  .checkout {
    width: 327px;
    background-color: #fff;
    padding: 24px;
    border-radius: 8px;
    position: relative;
    input {
      background: #fff;
      border: 1px solid #cfcfcf;
      border-radius: 8px;
      width: 280px;
      height: 56px;
      margin-top: 9px;
    }
  }
  .checkout h1 {
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 1px;
    margin-bottom: 32px;
  }

  .checkout__wrapper_namemail {
    flex-direction: column;
    gap: 0;
  }
  .checkout__fieldset {
    margin-bottom: 8px;
  }

  .checkout__shippinginfo .input_adress {
    width: 280px;
  }
  .payment__method {
    flex-direction: column;
    gap: 0;
    margin-bottom: 32px;
  }
  .payment__method .payment__wrapp_title {
    height: 35px;
  }
  .payment__method-1,
  .payment__method-2 {
    width: 280px;
    padding-right: 120px;
  }
  .payment__emoney {
    flex-direction: column;
    gap: 24px;
  }
  .wrapper .summary768,
  summary {
    padding: 32px 24px;
    width: 327px;
  }
  .modal768_checkcart_button {
    width: 279px;
  }
  .overlay_checkout{
    // display: none;
    display: block;
  }
  // стилі Thanks for order

  ._thanksfororder {
    // display: none;
    width: 327px;
    min-height: 600px;
    padding: 32px;
    position: absolute;
    top: 59%;
    left: 47%;
    transform: translate(-50%, -50%);
    &__h1 {
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.857143px;
      margin-bottom: 16px;
    }
    &__wrthanks {
      width: 263px;
      flex-direction: column;
      align-items: center;
      margin-bottom: 23px;
    }
    &__total_sum {
      width: 263px;
      padding: 15px;
      height: 92px;
      border-radius: 0px 0px 8px 8px;
      
    }
    &__content_order {
      width: 263px;
      margin-bottom: 0;
      border-radius: 8px 8px 0px 0px;
    }
    &__button_order {
      width: 263px;
    }
  }
  ._thanksfororder__p{
    margin-bottom: 24px;
  }

}
