$f-f: 'Manrope', sans-serif;
$white: #fff;
$orange:#D87D4A;
$bkg-section:#F1F1F1;
$bkg-header:#0E0E0E;
// кольори для тексту p
$f-c-w075:  rgba(255, 255, 255, 0.75);
$f-c-w05: rgba(255, 255, 255, 0.5);
$f-c-b05:  rgba(0, 0, 0, 0.5);
